<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background1.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px black;
        }
        .cont {
            position:relative;
            left:600px;
            top:50px;
            color: white;
        }
        /* error message styling */
        .error-message {
            display: none;
            padding: 15px;
            margin: 10px 0;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            color: white;
            background-color: red;
            position: fixed;
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
            width: auto;
            max-width: 600px;
            text-align: center;
        }
        .success-message {
            display: none;
            padding: 15px;
            margin: 10px 0;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            color: white;
            background-color: green;
            position: fixed;
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
            width: auto;
            max-width: 600px;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
    </div>
    
    <div class="cont">
        <form method="POST" action='/login'>
            Username:<br>
            <input type="text" name="username">
            <br>
            Password:<br>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Login">
        </form>
        <br>
        <a href="registration">I don't have an account</a>
    </div>
    
    <!-- Display error message if exists -->
    <% if (errorMessage) { %>
        <div class="error-message" id="error-message"><%= errorMessage %></div>
        <script>
            const errorDiv = document.getElementById("error-message");
            errorDiv.style.display = "block";
            setTimeout(function() {
                errorDiv.style.display = "none";
                errorDiv.textContent = "";
            }, 2500);
        </script>
    <% } %>

    <!-- Display success message if exists -->
    <% if (successMessage) { %>
        <div id="success-message" class="success-message"><%= successMessage %></div>
        <script>
            const successDiv = document.getElementById("success-message");
            successDiv.style.display = "block";
            setTimeout(function() {
                successDiv.style.display = "none";
                successDiv.textContent = "";
            }, 1500);
        </script>
         
    <% } %>

</body>
</html>