<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .back-button{
            padding-right: 7.5px;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        ul li {
            background-color: #ffffff;
            padding: 10px 20px;
            margin: 5px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 80%;
            text-align: center;
            font-size: 1.1rem;
        }

        ul li:hover {
            background-color: #e2e6ea;
            cursor: pointer;
        }

        /* Empty List Message */
        p {
            text-align: center;
            color: #6c757d;
            font-size: 1.1rem;
        }
        .container1 {
            display: inline-block;
            margin: 30px;
            width: 225px;
            height: 300px;
            text-align: center;
            color: white;
        }

        /* Responsive Design */
        @media (max-width: 768px) {
            body {
                padding: 10px;
            }

            ul li {
                width: 100%;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want-to-Go List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a href="http://localhost:3000/home" class="back-button" style="color: rgba(191, 255, 161, 0.148)">Back</a> 
             <a class="navbar-brand" style="color: rgb(191, 255, 161)">Want-to-Go List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <ul>
        <% if (wantToGoList.length > 0) { %>
            <div class="d-flex justify-content-center flex-wrap">
                <% for (let i = 0; i < wantToGoList.length; i++) { %>
                    <div class="container1">
                        <img id="image" src=<%=wantToGoList[i].id + ".png"%> width="193" height="300">
                        <br>
                        <label id ="label2" class="ml-4 my-2"><%=wantToGoList[i].label%></label>
                        <br>
                        <button onclick="location.href = '<%= '/' + wantToGoList[i].id %>';" id="<%= wantToGoList[i].id %>" class="btn btn-secondary ml-3">View</button>
                    </div>
                <% } %>
            </div>
        <% } 
        else { %>
            <p>No destinations found.</p>
        <% } %>
    </ul>
</body>
</html>